	
/* 标题:FoolFrmTitle */	
.FoolFrmTitle	
{ 	
 font-size:24 !important;	
 font-color:red !important;	
 }	
/* 图标:FoolFrmTitleIcon */	
.FoolFrmTitleIcon	
{ 	
 font-size:24 !important;	
 font-color:red !important;	
 }	
/* 标签:FoolFrmTitleLable */	
.FoolFrmTitleLable	
{ 	
 font-size:24 !important;	
 font-color:red !important;	
 }	
/* 分组:FoolFrmGroupBar */	
.FoolFrmGroupBar	
{ 	
 font-size:24 !important;	
 font-color:red !important;	
 }	
/* 字段行:FoolFrmFieldRow */	
.FoolFrmFieldRow	
{ 	
 font-size:24 !important;	
 font-color:red !important;	
 }	
/* 标签:FoolFrmFieldLabel */	
.FoolFrmFieldLabel	
{ 	
 font-size:24 !important;	
 font-color:red !important;	
 }	
/* 控件:FoolFrmFieldInput */	
.FoolFrmFieldInput	
{ 	
 font-size:24 !important;	
 font-color:red !important;	
 }	
/* 控件:input-icon */	
.input-icon	
{ 	
 font-size:24 !important;	
 font-color:red !important;	
 }